<h1 style="text-align: center; color: white; font-size: 32px; padding: 32px;"> Block / Suspend User</h1>

<div class="container">
  <table class="purpleHorizon">
    <thead>
    <tr>
      <th>Mac Address</th>
      <th>Username</th>
      <th>Block / Suspend User</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td colspan="3">
        <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a>
          <a href="#">4</a> <a href="#">&raquo;</a></div>
      </td>
    </tr>
    </tfoot>
    <tbody>
    <tr>
      <td>AB:FE:B1:AB:F4:AF
      </td>
      <td>Hod Comp Science</td>
      <td>Blocked</td>
    </tr>
    <tr>
      <td>46:E4:9B:D1:FA:8B
      </td>
      <td>CoOrdinator Economics</td>
      <td>Not Blocked/ Not suspended</td>
    </tr>
    <tr>
      <td>A1:30:2D:FA:A9:30
      </td>
      <td>Navin_Mca_4</td>
      <td>Not Blocked / Not Suspended</td>
    </tr>
    <tr>
      <td>30:0C:E6:50:A0:AB
      </td>
      <td>Jp_Mca_3
      </td>
      <td>Suspended - 3 Days 23 hr 2 min 23 sec left</td>
    </tr>
    <tr>
      <td>B5:00:C2:36:B3:1F
      </td>
      <td>Mrigank_mca_2</td>
      <td>Not Suspended / Not Blocked</td>
    </tr>
    <tr>
      <td>AB:FE:B1:AB:F4:AF
      </td>
      <td>Mr_modi_India</td>
      <td>Blocked</td>
    </tr>

    </tbody>
  </table>

</div>
<router-outlet></router-outlet>
