<div class="main">
  <h1 style="text-align: center; color: white; font-size: 32px; padding: 32px;"> Dashboard</h1>

  <div class="container">
    <a routerLink="/dashboard/logs"><img src="/assets/call.jpg" width="200px" height="100px"/></a>
    <a routerLink="/dashboard/BLockSuspension"><img src="/assets/sdf.png" width="200px" height="100px"/></a>
    <a routerLink="/dashboard/details"><img src="/assets/details.jpg" width="200px" height="100px"/></a>
    <img src="/assets/settings.jpg" width="200px" height="100px"/>

  </div>
</div>

<router-outlet></router-outlet>
