<h1 style="text-align: center; color: white; font-size: 32px; padding: 32px;"> User Details</h1>


<div class="container">
  <table class="redTable">
    <thead>
    <tr>
      <th>UserName</th>
      <th>Name</th>
      <th>Mac Address</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td colspan="3">
        <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a>
          <a href="#">4</a> <a href="#">&raquo;</a></div>
      </td>
    </tr>
    </tfoot>
    <tbody>
    <tr>
      <td>Bhardwaj123</td>
      <td>Bhardwaj</td>
      <td>B5:00:C2:36:B3:1F</td>
    </tr>
    <tr>
      <td>HOD Comp Science</td>
      <td>Joy Paulose</td>
      <td>71:B9:0D:58:82:28
      </td>
    </tr>
    <tr>
      <td>CO - Ordinator</td>
      <td>Dr Tulsi</td>
      <td>A1:30:2D:FA:A9:30
      </td>
    </tr>
    <tr>
      <td>Jay_MCA_4</td>
      <td>Mr. Jay Prakash</td>
      <td>AB:FE:B1:AB:F4:AF
      </td>
    </tr>
    <tr>
      <td>Mrigank_sem_2</td>
      <td>Mr. Mrigank Singh</td>
      <td>46:E4:9B:D1:FA:8B
      </td>
    </tr>
    </tbody>
  </table>

</div>
<router-outlet></router-outlet>
