
  <div class="container">

    <div class="wrap-table100">
      <div class="table100"  >
        <table>
          <thead>
          <tr class="table100-head">
            <th class="column1">Position</th>
            <th class="column2">Department</th>
            <th class="column3">Mac Address</th>
            <th class="column4">name</th>
            <th class="column5">User Name</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let x of user">
            <td class="column1">{{x.id}}</td>
            <td class="column2">{{x.department}}</td>
            <td class="column3">{{x.macAddress}}</td>
            <td class="column4">{{x.name}}</td>
            <td class="column5">{{x.username}}</td>

          </tr>
          <tr>
            <td class="adduserButton" colspan="5" (click)="adduserfunction()"><b>{{addusertext}}</b></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
<div class="adduserform"*ngIf="addusertoggle === true">
  <div class="container">
    <form [formGroup]="userdetails" (ngSubmit)="onSubmit()">
      <label>
        Name:
        <input type="text" formControlName="name" required>
      </label><br>
      <label>
        Department:
        <input type="text" formControlName="department">
      </label><br>
      <label>
        Username:
        <input type="text" formControlName="userName">
      </label><br>
      <label>
        Mac Address:
        <input type="text" formControlName="macAddress">
      </label><br>
      <button type="submit" [disabled]="!userdetails.valid">Submit</button> Form Status: {{ userdetails.status }}
    </form>
    <hr>
    <p style="color: red;">
      {{formresult}}
    </p>
    <p>
     {{ userdetails.value | json }}
    </p>
  </div>
</div>

<router-outlet></router-outlet>
