<h1 style="text-align: center; color: white; font-size: 32px; padding: 32px;"> List of all User Details</h1>



  <div class="container">

    <div class="wrap-table100">
      <div class="table100"  >
        <table>
          <thead>
          <tr class="table100-head">
            <th class="column1">Position</th>
            <th class="column2">Department</th>
            <th class="column3">Mac Address</th>
            <th class="column4">name</th>
            <th class="column5">User Name</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let x of user">
            <td class="column1">{{x.id}}</td>
            <td class="column2">{{x.department}}</td>
            <td class="column3">{{x.macAddress}}</td>
            <td class="column4">{{x.name}}</td>
            <td class="column5">{{x.username}}</td>

          </tr>

          </tbody>
        </table>
      </div>
    </div>
    <button >Submit</button>
  </div>


<router-outlet></router-outlet>
