
.main{
  height: 100%;
  width: 100%;
  background-color: #1d2432;
  position: fixed;
  .horizontal-bar{
    background-color: #111827;

    width: 100%;
    .top-navigation{
      height: 80px;
    }
    .logo{
      text-align: center;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      font-size: 24px;
      line-height: 3;
      color: white;
    }
    .user{
      color: white;
      font-size: 20px;
    }
  }

  .Vertical-bar{
    position: fixed;
    background: #2F323A;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    text-align: center;

    .logo{
      width: 100px;
      height: 100px;
      border-radius: 100px;
      margin-bottom: 10px;
    }
    h4{
      color: #ccc;
      margin-top: 0;
      margin-bottom: 20px;
    }

    a{
      color: #fff;
      display: block;
      width: 100%;
      line-height: 60px;
      text-decoration: none;
      padding-left: 40px;
      box-sizing: border-box;
      transition: 0.5s;
      border-bottom: 1px solid aqua;
      border-top: 1px solid aqua;
      transition-property: background;
    }

    a:hover{
      background: #19B3D3;
    }

    i{
      padding-right: 10px;
    }
  }
}
